<header class="nav">
  <div class="container nav-in">
    <a class="nav-logo" href="/index.html"><img src="/assets/logo-darkbg.png" alt="Masters studio" width="696" height="351"></a>
    <a class="nav-cta" href="/index.html">לדף הבית</a>
  </div>
</header>
